<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Datapoint Mapper</title>
		<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
		<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">DEMO</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		
		<main role="main" class="container-fluid">
		
			 <div id="graph"></div>
				<script src="https://unpkg.com/force-graph@1.43.0/dist/force-graph.min.js"></script>
				<script>

				    const N = 150;
				    const gData = {
				      nodes: [...Array(N).keys()].map(i => ({ id: i })),
				      links: [...Array(N).keys()]
				        .filter(id => id)
				        .map(id => ({
				          source: id,
				          target: Math.round(Math.random() * (id-1))
				        }))
				    };
				
				    const Graph = ForceGraph()
				      (document.getElementById('graph'))
				      	//.linkDirectionalParticles(10)
				        .linkDirectionalArrowLength(6)
				        .graphData(gData)
				    	.nodeLabel('id')
						.nodeAutoColorBy('group') 	
						.nodeColor(node => 'red')
					  	//.nodeColor('') 	
						.linkAutoColorBy(d => gData.nodes[d.source].group)
						.linkColor(link=> 'blue')
				 		.linkDirectionalParticleWidth(2.3)
				   		.onNodeClick(node => {
				      	// Center/zoom on node
				   	    Graph.centerAt(node.x, node.y, 1000);
				   	    Graph.zoom(8, 2000);
				   	});

				  </script>
			
		</main>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
		<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
	</body>
</html>